* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: url("/images/mobile/image-header.jpg");

  height: 75vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.btn {
  cursor: pointer;
  color: rgb(255, 255, 253);
  background: none;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: rgba(255, 211, 15, 0.753);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* .nav-bar {
 
}  */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  height: 6rem;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-center {
  width: 90vw;
  width: 1000px;
  max-width: 1120px;
}

.nav-btn {
  padding: 0.5rem 0.75rem;
}
.nav-btn i {
  font-size: 1.25rem;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-top: 5vh;
  background: white;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.show-links {
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 250px;
}

.nav-link {
  margin-top: 1vh;
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #7583a1;
  letter-spacing: 1px;
  padding: 1rem 0;
  border-top: none;
  transition: 0.3s ease-in-out all;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(255, 217, 0);
}
.contact-link a {
  font-weight: bold;
  font-size: 13px;
  color: rgb(61, 51, 51);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.15rem 1rem;
}
.but {
  padding: 15px 25px;
  border-radius: 20px;
  background: rgb(248, 207, 22);
}
.create {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: monospace;
  font-size: 50px;
  color: white;
  padding-top: -3%;
}
.creatives {
  text-align: center;
}

.arrow {

  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.egg {
  width: 100%;
}

.transform {
  height: 40vh;
  background-position: center;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.transform h2 {
  color: rgb(43, 62, 71);
  font-size: 25px;
  font-family: monospace;
  font-weight: bolder;
  margin-top: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.service p {
  color: rgb(43, 62, 71);
  font-family: monospace;
  line-height: 25px;
  margin-top: 15px;
  text-align: center;
}
.using p {
  color: rgb(43, 62, 71);
  font-family: monospace;
  line-height: 25px;
  margin-top: 15px;
  text-align: center;
}

.peach-main {
  background: url("/images/mobile/image-graphic-design.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.peach-text {
  position: absolute;
  top: 56%;
  margin-right: auto;
  margin-left: auto;
}
.mini-text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: hsl(167, 40%, 24%);
  padding: 8%;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.1875rem;
  font-family: monospace;
}
h2 {
  color: gray;
  font-size: 18px;
  line-height: 1.4;
  padding: 0px 7% 25px 7%;
  text-align: center;
}
.mini-text h1 {
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
}
.mini-text h2 {
  font-size: 13px;
  color: hsl(167, 40%, 24%);
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

.photo {
  background: url("/images/mobile/image-photography.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.orange-text {
  color: hsl(198, 62%, 26%);
}
.orange-text h2 {
  color: hsl(198, 62%, 26%);
}
.testimonials {
  margin: 1.875rem auto;
  padding: 1.875rem 0.9375rem;
}
.testimonials h2 {
  font-size: 15px;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  line-height: 1.4;
  padding: 0px 7% 25px 7%;
  color: hsl(210, 4%, 67%);
  font-weight: bolder;
}
.client-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.client-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.client-img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 1.25rem;
}
.client-card p {
  color: hsl(198, 62%, 26%);
  font-size: 0.9375rem;
  line-height: 1.55;
  margin-bottom: 1.25rem;
}
.client-card h3 {
  font-size: 1rem;
  color: hsl(198, 62%, 26%);
  margin-bottom: 5%;
  font-weight: bolder;
}
#market {
  font-size: 0.8rem;
  color: hsl(210, 4%, 67%);
  padding-bottom: 15%;
}
.learn-more {
  padding-bottom: 10%;
}

.link {
  border-radius: 100%;
text-decoration: underline; 
  position: relative;
  font-family: sans-serif;
  font-size: 20px;
  color: hsl(167, 40%, 24%);

  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}
.images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery-img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.footer {
  background: #8fd1c5;

  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  filter: invert(55%) sepia(32%) saturate(392%) hue-rotate(120deg)
    brightness(95%) contrast(85%);
  margin-bottom: 4.8rem;
  height: 3.2rem;
}
.folinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-bottom: 4rem;
}
.socialmedia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
}
.ft-link {
  text-decoration: none;
  color: #60998f;
  font-size: 1.5rem;
  font-weight: bolder;
}
.socialmedia a {
  color: rgb(55, 105, 99);
  font-size: 30px;
  text-decoration: none;
}
.egg-desk{
    display: none;
}
.egg-pos{
    display: none;
}
.images-grid-desk{
  display: none;
}

@media screen and (min-width: 998px) {
  .header {
    background-image: url("/images/desktop/image-header.jpg");
  }
  .nav-btn {
    display: none;
  }
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    height: auto;
    margin-right: 2rem;
  }
  .nav-links {
    background: none;
    justify-content: space-between;
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 50%;
  }
  .nav-bar img {
    margin-top: 31%;
  }
  .contact-link a {
    padding: 0.5rem 1rem;
  }
  .but {
    background: white;
  }
  .nav-link {
    color: white;
  }
  
  .arrow {
    transform: scale(0.7);
  }
  
  .egg{
      display: none;
  }
  
  .egg-desk {

   /* float: right; */
    display: block;
    width:50%;
  
  }

.egg-div{
display: flex;
flex-direction: row;
}
 .peach-main{
   background-image: url("/images/desktop/image-graphic-design.jpg");
  background-position: left left;
width: 50%;
   margin-left: 0%;
 }
.photo{
  background-image: url("/images/desktop/image-photography.jpg");
  width: 50%;
  background-position: right right;

}
.graph-photo{
  display: flex;
flex-direction: row;
}
.client-grid{
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}
.client-card p {
  font-size: 0.7rem;
  width: 200px;
}
.images-grid{
  display: none;
}
.images-grid-desk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mini-text{
  text-align: left;
}
h2{
  text-align: left;
}
.link{
  padding-right: 63%;
  
}
.mini-text-desk{
  text-align: center;
}
.transform-main{
 padding-top: 5%;
}
.stand-txt{
  padding-top: 5%;
}
 }
