* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/crew/background-crew-mobile.jpg");
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  
}

.crew-image-container {
/* border: red 1px solid; */
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.crew-text h3{
    padding-bottom: 20px;
       color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}
#number{
    color: rgb(94, 90, 90);
}
.crew-image{
    padding: 1rem;
width: 250px;
/* border: red 1px solid; */
margin: auto;

}
.crew-image img{
    object-fit: cover;
    width: 100%;
}
.crew-image-tab{
    display: none;
}

.next-btn{
    
   font-size: 1rem;
   background: transparent;
   border: none;
   color: white;
   text-align: center;
}
.next-btn a{
    text-decoration: none;
    color: rgb(116, 113, 113);
    cursor: pointer;
}
.tab-btns{
    display: none;
}
#curr-btn{
    color: white;
}
.next-btn i:hover{
    color: rgb(102, 159, 245);
cursor: pointer;
}

.btns{
    border-top: rgb(109, 107, 107) 1px solid;
display: grid;
    grid-template-columns: repeat(4, 0.15fr);
  
    place-content: center;
    padding: 2rem;
padding-bottom: 40px;
}
#position{
    color: rgb(167, 158, 158);
     font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
#name{
     color: white;
     font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}
#text{
    color: white;
     font-family: 'Roboto Condensed', sans-serif;

    letter-spacing: 3px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    line-height: 40px;
    padding-bottom: 20px;
}
@media screen and (min-width: 768px){
    
  .crew-text h3{
      padding: 20px;
    font-size: 25px;
  }
  body{
      background-image: url('./assets/crew/background-crew-tablet.jpg');
  }
  .review{
    
      
      padding-top: 60px;
      padding: 90px;
  }
  .crew-image{
      display: none;
  }
  .btns{
      display: none;
  }
  .tab-btns{
      
         border-top: rgb(109, 107, 107) 1px solid;
display: grid;
    grid-template-columns: repeat(4, 0.05fr);
  
    place-content: center;
    padding: 2rem;
padding-bottom: 40px;
  }
  #position{
      font-size: 25px;
  }
  #name{
      font-size: 30px;
  }
  #text{
      font-size: 20px;
  }
  .crew-image-tab{
      display: block;
         padding: 1rem;
width: 490px;
margin: auto;

  }
  .crew-image-tab img{
      object-fit: cover;
      width: 100%;
  }
}
@media screen and (min-width: 1050px){
   body{
       background-image: url('./assets/crew/background-crew-desktop.jpg');
   }
   .crew-text h3{
       text-align: left;
   }
    .crew-text {
     padding-left: 5rem;

   } 


   .crew-desk{
      
display: grid;
grid-template-columns: repeat(2, 1fr);

   }
   #position{
       text-align: left;
   }
   #name{
       text-align: left;
   }
   #text{
       text-align: left;
   }
   .tab-btns{
    grid-template-columns: repeat(4, 0.1fr);
place-items: start auto;
place-content: start start;

padding-left: 0;
   }
}