* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-position: center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.nav-center {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2rem;
  height: 2rem;
}
.nav-toggle {
  font-size: 2rem;
  color: white;
  background: transparent;
  border-color: transparent;

  cursor: pointer;
  border: none;
  background: none;
}
.nav-toggle:hover {
  color: rgb(102, 159, 245);
  transition: all 0.3s linear;
  outline: none;
}

.container {
  padding: 2rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  place-content: center;
  place-items: center;
  justify-content: center;
}

.container h3 {
  color: rgba(208, 214, 249, 1);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}
.container h1 {
  color: rgb(223, 220, 220);
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 5px;
  font-size: 70px;
  font-weight: 500;
}
.container h4 {
  color: rgba(208, 214, 249, 1);
  text-transform: capitalize;
  font-weight: 100;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
}


.btn-ex {
  /* border: red 1px solid; */
  background-color: white;
  position: absolute;
  /* top: 60%; */
  left: 50%;
  height: 130px;
  border-radius: 50%;
  width: 130px;
  margin-left: -60px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn-ex a {
  margin: auto;
  color: rgb(94, 90, 90);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  cursor: pointer;
}
.sidebar {
  position: absolute;
  height: 100%;
  right: 0;
  width: 67%;
  background-color: rgb(52, 59, 80);
  backdrop-filter: blur(60px);
  z-index: 1;
  background-size: cover;
  position: fixed;
  transition: all 0.3s linear;
  transform: translate(100%);
  /* border: orangered 1px solid; */
}
.show-sidebar {
  transform: translate(0);
}
.sidebar-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border: transparent;
  outline: none;
}
.close-btn:hover {
  color: rgb(235, 48, 48);
  transition: all 0.3s linear;
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 20%;
  padding: 1rem;
}
ul {
  list-style-type: none;
}
.side-logo {
  visibility: hidden;
}
.links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 4px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 70px;
  cursor: pointer;
}
.links a:hover {
  color: rgb(102, 159, 245);
  transition: all 0.3s linear;
}
.tab-links{
  display: none;
}
.tab-links a:hover{
  color: rgb(102, 159, 245);
  transition: all 0.3s linear;
}
@media screen and (min-width: 768px){

  body{
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
.nav-toggle{
  display: none;
}
.nav-center{
  padding: 0;
}
.tab-logo{
 
  padding: 2rem;
}
.logo{
  height: 3rem;
  width: 3rem;
}
.tab-links{
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  gap: 1rem;
  align-items: center;
padding: 35px;
  background-color: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(80px);

}
.tab-links a{
  color: white;
  font-size: 15px;
  text-transform: uppercase;
   font-family: "Roboto Condensed", sans-serif;
   font-weight: lighter;
   letter-spacing: 4px;
text-decoration: none;
  margin: auto;
  padding: auto;
  text-align: center;
}
.tab-links a:hover{
   color: rgb(102, 159, 245);
  transition: all 0.3s linear;
  cursor: pointer;
}
.container{
  padding-top: 5rem;
  padding: 5rem;
 
}
.container h3{
  font-size: 25px;
}
.container h1{
  font-size: 90px;
}
.container h4{
  font-size: 20px;
  padding-bottom: 110px;
}
.btn-ex{
height: 200px;
width: 200px;
margin-left: -100px;
}
#curr-link{
  border-bottom: white 4px solid;
  padding-bottom: 40px;

}
}

@media screen and (min-width: 1050px){
body{
  background-image: url('./assets/home/background-home-desktop.jpg');
}
.tab-links{
  padding-left: 100px;
  padding-right: 100px;
}
.nav-center{
  padding-top: 2rem;
}
.tab-links a{
  font-size: 20px;
}
.container{

  width: 500px;
 
  padding-top: 100px;
padding-bottom: 0;
padding-left: 100px;
 place-items: start;
 position: absolute;
 top: 30%;


}
.btn-ex{
  position: absolute;
margin: 0;
left: 70%;
top: 60%;
}
.container h3{
  font-size: 20px;
  text-align: left;
}
.container h1{
  font-size: 70px;
  text-align: left
}
.container h4{
  font-size: 15px;
  padding-bottom: 0;
  
  text-align: left;
}
}